<link rel="stylesheet" href="~/css/ScheduleSearch.css" asp-append-version="true" />
<script src="~/js/formChreck.js"></script>

@{
    ViewData["Title"] = "Расписание студента";
}

<!-- This information is hardcoded. Need model to work with it-->
<form name="student_form">
    <div class="schedule_form_item">
        <label for="group_name">Выберите вашу группу:</label>

        <input class="rounded-pill" onchange="checkGroupOrFio(this.value)" list="character" id="group" name="group_name">
        <datalist id="character">
            <option value="ИС"></option>
            <option value="ПИ"></option>
            <option value="УТС"></option>
        </datalist>
    </div>
    <div class="schedule_form_item">
        <label for="week_name">Выберите неделю:</label>

        <input class="rounded-pill" onchange="checkWeek(this.value)" list="character2" id="week" name="week_name" disabled ="true">
        <datalist id="character2">
            <option value="1 неделя"></option>
            <option value="2 неделя"></option>
            <option value="3 неделя"></option>
        </datalist>

    </div>
    <div class="schedule_form_item">
        <button type="button" onclick="getWeek(0)" class="btn btn-info btn-lg rounded-pill" id="this_week" name="this_week" disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M152 64H296V24C296 10.75 306.7 0 320 0C333.3 0 344 10.75 344 24V64H384C419.3 64 448 92.65 448 128V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V128C0 92.65 28.65 64 64 64H104V24C104 10.75 114.7 0 128 0C141.3 0 152 10.75 152 24V64zM48 248H128V192H48V248zM48 296V360H128V296H48zM176 296V360H272V296H176zM320 296V360H400V296H320zM400 192H320V248H400V192zM400 408H320V464H384C392.8 464 400 456.8 400 448V408zM272 408H176V464H272V408zM128 408H48V448C48 456.8 55.16 464 64 464H128V408zM272 192H176V248H272V192z" /></svg>
            Эта неделя
        </button>

        <button type="button" onclick="getWeek(1)" class="btn btn-info btn-lg rounded-pill" id="next_week" name="next_week" disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm80 64c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16H368c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80z" /></svg>
            Следующая неделя
        </button>

        <button type="button" class="btn btn-info btn-lg rounded-pill" id="show_schedule" name="show_schedule" disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm80 64c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80z" /></svg>
            Показать расписание
        </button>

        <button type="button" class="btn btn-info btn-lg rounded-pill" id="search" name="search" action="submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z" /></svg>
            Поиск
        </button>
    </div>
</form>