@model int
@{
    ViewData["Title"] = "Добавление расписания";

}

<div class="text-center">
    

    <!-- @Html.ActionLink("Menu", "Index", "Home", null, new { @class = "page-scroll" })  -->

</div>
