html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
}

button {
    margin: 10px;
    padding:0;
    align-items:center;
    text-align: center;
}

button svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

footer{
    position: absolute;
    width:100%;
    max-height: 10px
}
